@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
}

h1,
h2,
p,
body{
    margin: 0;
    font-weight: normal;
}

a{
    text-decoration: none;
    color: #000;
}

body{
    padding: 12.5vw 0 0;
}

.flex-wrap{
    width: 100%;
    display: flex;
    gap: 102px;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-wrap .bold{
    font-weight: 700;
}

.flex-left{
    flex-basis: 612px;
}
.flex-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 486px;
}

.flex-left h1{
    font-size: 70px;
    line-height: 1.25;
    margin-bottom: 20px;
}

.flex-left p{
    font-size: 20px;
}

.flex-right a{
    display: block;
    position: relative;
    width: 486px;
    height: 280px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    color:white;
}

.flex-right a:first-child{
    background: url('../image/Rectangle\ 2.png') no-repeat center center / contain;
}

.flex-right a:nth-child(2){
    background: url('../image/Rectangle\ 3.png') no-repeat center center / contain;
}

.flex-right h2{
    font-size:30px;
}

.flex-right a > p{
    font-size:16px;
    position: absolute;
    right: 4px;
    bottom: 30px;
}

.flex-right a > p::after{
    content: '';
    display: inline-block;
    transform: translateY(4px);
    margin-left: 4px;
    width: 20px;
    height: 20px;
    background: url('../image/Vector\ \(Stroke\).svg') no-repeat center center;
}

@media (768px <= width <= 1200px){
    .flex-right{
        flex-direction: initial;
    }
}

@media (max-width: 1200px){
    body{
        padding: 100px 4vw 0;
    }
    .flex-wrap{
        gap:60px;
        justify-content: initial;
    }
}

@media (max-width: 1048px){
    .flex-left p{
        font-size: 18px;
    }
    .flex-right a{
        width: 344px;
        height: 198px;
        padding: 30px;
    }
    .flex-right h2{
        font-size: 24px;
    }
    .flex-right a > p{
        bottom:20px;
    }
}

@media (max-width: 767px){
    .flex-wrap{
        gap:40px;
    }
    .flex-left h1{
        font-size: 36px;
    }
    .flex-left p{
        font-size: 14px;
    }
    .flex-right{
        gap:14px;
    }
    .flex-right a{
        width: 356px;
        height: 205px;
    }
    .flex-right h2{
        font-size: 20px;
    }
    .flex-right a > p{
        font-size: 14px;
    }
}