*{
    font-family: 'pretendard', sans-serif;
}
body{background-color: #CCC;}

.card-item img:nth-child(2){
    width:100%;
    aspect-ratio: 288/196;
    object-fit: cover;
    vertical-align: top;
}
.card-item:focus{
    background-color: black;
}
.card-text{
    float:left;
}
.card-item a.cursor{
    text-decoration: none;
    color: #29363D;
    display: block;
    width: 288px;
    background: #fff;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}
/* .card-text p{} */
.card-text .main-text{
    color:#5a6a72;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
    margin:10px 16px 19px;
    line-height: 20px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.underline{
    font-weight: 700;
    font-size:14px;
    text-decoration: underline;
    padding-left:6px;
    color:#29363D;
    background: url('../image/Vector\ 7.png') no-repeat;
    float:left;
    margin: 0 0 23px 22px;
    
}

.heading img{
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 50%;
    margin-right:16px;
}
.heading{
    padding: 19px 16px 15px;
}

.heading h2{
    color: #29363D;
    line-height: 19px;
    font-weight: 700;
    font-size:16px;
}
.heading h3{
    color:#5a6a72;
    line-height: 14px;
    font-weight: 400;
    font-size: 12px;
}