*{
    font-family: 'pretendard', sans-serif;
}
body{background-color: #CCC;}


[class*='card-item'] img:nth-child(2){
    width:100%;
    aspect-ratio: 288/196;
    object-fit: cover;
    vertical-align: top;
}
.card-text{
    float:left;
}
[class*='card-item'] a.cursor{
    text-decoration: none;
    color: #29363D;
    display: block;
    background: #fff;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}
.card-text .main-text{
    color:#5a6a72;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
    margin:10px 16px 19px;
    line-height: 20px;
    font-size: 12px;
    text-overflow: ellipsis;
    min-height: 40px;
}
.underline{
    font-weight: 700;
    font-size:14px;
    text-decoration: underline;
    padding-left:6px;
    color:#29363D;
    /* background: url('../image/Vector\ 7.png') no-repeat; */
    float:left;
    margin: 0 0 23px 22px;
    
}

.heading img{
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 50%;
    margin-right:16px;
}
.heading{
    padding: 19px 16px 15px;
}

.heading h2{
    color: #29363D;
    line-height: 19px;
    font-weight: 700;
    font-size:16px;
}
.heading h3{
    color:#5a6a72;
    line-height: 14px;
    font-weight: 400;
    font-size: 12px;
}

/* .container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 32px 24px;
    width:min(1224px, calc(100% - 60px));
    margin:auto;
} */
/* .container{
    display:flex;
    flex-wrap:wrap;
    gap: 32px 24px;
    width:min(1224px, calc(100% - 60px));
    margin: auto;
}
.card-item{
    flex-basis:288px;
} */


.container{
    margin: auto;
    width:min(1224px, calc(100% - 60px));
}
.container > .card-item{
    float:left;
    margin: 0 0 32px 24px;
    width:calc((100% / 4 - 24px));
}
.container::after{
    content:'';
    display: block;
    clear:both;
}

@media (min-width: 1025px) {
    .container .card-item:nth-child(4n-3) {
    margin-left: 0;
    }
}

@media (min-width: 641px) and (max-width: 1024px) {
    .container .card-item {
        width: calc(100% / 3 - 24px);
    }
    .container article:nth-child(3n-2) {
    margin-left: 0;
    }
}

@media (min-width: 501px) and (max-width: 640px) {
    .container .card-item {
    width: calc(100% / 2 - 24px);
    }
    .container .card-item:nth-child(2n-1) {
    margin-left: 0;
    }
}

@media (max-width: 500px) {
    .container .card-item {
    width: 100%;
    margin-left: 0;
    }
}