a{
    color: initial;
    text-decoration: initial;
}
button{
    padding: 0;
    border: 0;
    background: transparent;
}
button:not(:disabled){
    cursor: pointer;
}
body, h1, h2, h3, p, ul, li{
    padding: 0;
    margin: 0;
}
img{
    vertical-align: top;
}
ul, li{
    list-style: none;
}
.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}
.ellipsis{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}

.container{
    width: 1060px;
    margin: 86px auto;
    background: #F2F2F2;
    padding: 0 40px 30px 30px;
    box-sizing: border-box;
    border-radius: 15px;
    border: 2px solid #BDBDBD;
}
.header{
    text-align: center;
    font-family: 'roboto';
}
.header h1{
    font-size: 24px;
    padding: 37px;
}
.header nav{
    border-top: 2px solid #bdbdbd;
    padding-top: 18px;
    width: 650px;
    margin: 0 auto;
}
.header ul li{
    display: inline-block;
    margin: 0 20px;
}
.header button{
    padding: 10px 20px;
    color: #828282;
    font-size: 16px;
}

.header button.on{
    color: #000;
    font-weight: 900;
}

.main{
    font-family: 'Noto Sans KR';
}
.movie-wrap{
    width: 220px;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.movie-wrap .movie-name{
    font-weight: bold;
    font-size: 16px;
    margin: 12px 0;
}

.movie-wrap ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 13px;
    margin-top: 5px;
    gap: 5px;
}
.movie-wrap img{
    aspect-ratio: 180/250;
    width: 100%;
    object-fit: cover;
}

.movie-wrap li :first-child{
    color: #828282;
    margin-right: 5px;
}


.movie-contents{
    padding: 19px 20px 18px;
}

.movie-wrap .movie-score::before{
    content: '★';
    display: inline-block;
    color: #EB5757;
    padding-right: 5px;
}

.btn-area{
    height: 41px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-top: 1px solid #bdbdbd;
    width: 100%;
    border-radius: 0 0 10px 10px;
}
.btn-area a{
    align-self: center;
}
.btn-area button{
    box-sizing: border-box;
    border-left: 1px solid #bdbdbd;
}
.btn-area a, .btn-area button{
    flex-basis: 50%;
    font-weight: 500;
    font-size: 14px;
    font-family: "noto sans kr";
}
.btn-area button::before{
    content: '';
    background: url('../image/icon-play.svg')  no-repeat 0 50% / 13px;
    width: 13px;
    height: 13px;
    display: inline-block;
}

.main{
    display: grid;
    grid-template-columns: repeat(4, minmax(220px, 1fr));
    gap: 24px 23px;
    border: 2px solid #bdbdbd;
    border-radius: 15px;
    background: #fff;
    padding: 26px 27px;
    margin-top: 18px;
}

